// @font-face
//     font-family: 'OpenSans-Regular'
//     src: url('../../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype')
// @font-face
//     font-family: 'OpenSans-Light'
//     src: url('../../fonts/OpenSans/OpenSans-Light.ttf') format('truetype')
// @font-face
//     font-family: 'OpenSans-Semibold'
//     src: url('../../fonts/OpenSans/OpenSans-Semibold.ttf') format('truetype')
@font-face
    font-family: 'FiraSansBold'
    src: url('../fonts/FireSans/FireSansBold/FiraSansBold.ttf') format('truetype')
@font-face
    font-family: 'FireSansLight'
    src: url('../fonts/FireSans/FireSansLight/FiraSans-Light.ttf') format('truetype')
@font-face
    font-family: 'FiraSansMedium'
    src: url('../fonts/FireSans/FireSansMedium/FiraSansMedium.ttf') format('truetype'),  url('../fonts/FireSans/FireSansMedium/FiraSansMedium.woff') format('woff'), url('../fonts/FireSans/FireSansMedium/FiraSansMedium.eot') format('eot')
@font-face
    font-family: 'FireSansRegular'
    src: url('../fonts/FireSans/FireSansRegular/FiraSansRegular.ttf') format('truetype')
