.add__photo
   display: flex
   justify-content: flex-start
   margin-bottom: 10px
   align-items: center
   .photo__img
      line-height: 0
      margin-right: -40px
      pointer-events: none
      img
        width: 40px
        height: 40px
        border-radius: 4px
   .add__field
      padding: 13px !important
      padding-left: 112px !important
      margin: 0 !important
      i
        margin-right: 3px
