.annonceid-wrap
  margin-left: 25px
  .annonceid__head
    color: $userinfo-label
    font-size: 14px
    font-weight: 400
    line-height: 14px
    margin-bottom: 10px
  .annonceid-wrap__main
    background-color: white
    box-shadow: 0.7px 0.7px 1px rgba(0, 0, 0, 0.1)
    padding: 25px 25px 45px
    display: flex
    justify-content: flex-start
    .annonceid
      padding-right: 20px
      border-right: 1px solid $text2-color
      margin-right: 10px
      .annonceid__caption
        color: black
        font-family: FiraMedium
        font-size: 19px
        font-weight: 400
        line-height: 21px
        margin-bottom: 10px
      .annonceid__photo
        width: 520px
        height: 234px
        display: block
        position: relative
        font-style: normal
        margin-bottom: 10px
        img
          width: 100%
          height: 100%
      .annonceid__info
        display: flex
        align-items: center
        justify-content: flex-end
        padding-bottom: 10px
        margin-bottom: 15px
        border-bottom: 1px solid $text2-color
        .time__day
          margin-right: auto
          color: $text-color
          font-family: FiraSansMedium
        p
          display: flex
          justify-content: flex-start
          i
            margin-right: 3px
        p:nth-of-type(2)
          color: $text2-color
          font-size: 12px
          font-weight: 400
          line-height: 14px
          padding-left: 4px
          margin-left: 4px
          border-left: 1px solid $text2-color
      .annonceid__user
        display: flex
        align-items: flex-start
        justify-content: flex-start
        margin-bottom: 30px
        .annonceid__user__photo
          margin-right: 5px
          i
            width: 41px
            height: 40px
            img
              border-radius: 2px
              width: 41px
              height: 40px
        .annonceid__user__info
          .author
             color: $text-color
             font-family: FiraSansMedium
             font-size: 13px
             font-weight: 400
             line-height: 14px
          p
            color: $text-color
            font-size: 13px
            font-weight: 400
            line-height: 14px
            margin-bottom: 5px
            span
              color: $text3-color
              font-size: 12px
              font-weight: 400
              line-height: 14px
              padding-left: 8px
              margin-left: 8px
              border-left: 1px solid $text2-color
      .annonceid__text
        font-size: 13px
        font-weight: 300
        line-height: 18px
        margin-bottom: 20px
        p
          margin-bottom: 20px
      .button__social
        margin-bottom: 30px
    .streamid-wrap
      .streamid
        width: 230px
        display: inline-block
        margin-right: 20px
        .streamid__video
          margin-bottom: 5px
          i
            width: 230px
            height: 130px
            display: block
            img
              width: 100%
              height: 100%
        .streamid__header
          color: $text5-color
          font-family: FiraSansMedium
          font-size: 14px
          font-weight: 400
          line-height: 14px
          margin-bottom: 8px
        .streamid__info
          display: flex
          justify-content: space-between
          margin-bottom: 35px
          .streamid__tag
            background-color: $userinfo-annonce
            color: white
            padding: 0 8px
            display: inline-block
    .commentid__head
      padding-bottom: 7px
      border-bottom: 1px solid $text2-color
      margin-bottom: 0
    .chats
      background: white
      .chats__other-comments
        background: white
  .annonceid-wrap__main__column
    .annonceid__other
      padding-left: 10px
    .announcements-wrap
      box-shadow: none
