.approved
   position: fixed
   top: 50%
   left: 50%
   transform: translate(-50%,-50%)
   z-index: 10
   width: 421px
   background-color: white
   color: $text3-color
   box-shadow: 3px 2.7px 4px rgba(0, 0, 0, 0.3)
   text-align: center
   padding: 40px
   box-sizing: border-box
   font-weight: 400
   .approved__head
      color: $text-color
      font-size: 27px
      font-weight: 700
      line-height: 27px
      margin-bottom: 25px
   .approved__text1
      font-size: 18px
      line-height: 14px
      margin-bottom: 15px
   .approved__text2
      font-size: 11px
      line-height: 13px
      margin-bottom: 30px
   .approved__send
      cursor: pointer
      color: $userinfo
      font-size: 13px
      line-height: 30px
      border: 1px solid $text2-color
      background: $start-translation2
      padding: 0 25px
      border-radius: 2px
      display: inline-block
