.button-delete
    margin-left: auto
    padding-left: 10px
    padding-right: 15px
    line-height: 22px
    width: 90px
    height: 22px
    display: flex
    align-items: center
    i
        margin-right: 5px
