.register--error
   position: absolute
   bottom: 25px
   left: 50%
   transform: translateX(-50%)
   display: inline-table
   color: $text-color
   font-size: 12px
.stream-error
   position: absolute
   font-size: 12px
   color: $text-color
   top: -19px
   left: 50%
   transform: translateX(-50%)
   width: 100%
.error
   position: absolute
   top: -19px
   left: 50%
   transform: translateX(-50%)
   width: 100%
   color: $text-color
   font-size: 12px
.annonceedit--validate
   position: absolute
   top: 29px
   right: 0
   color: $text-color
   font-size: 12px
.streamedit--validate
   position: absolute
   top: 29px
   right: 0
   color: $text-color
   font-size: 12px
.registrationDate--validate
   position: absolute
   top: 27px
   left: 112px
   font-size: 12px
   color: $text-color
.registrationSecond--validate
   position: absolute
   top: 26px
   left: 122px
   font-size: 12px
   color: $text-color
.phone--validate
   color: $text-color
   position: absolute
   left: 300px
   top: 3px
   width: 100%
.about--validate
   color: $text-color
   position: absolute
   top: 10px
   right: 0
