.stream_live
       display: block
       box-shadow: 3px 2.7px 4px rgba(0, 0, 0, 0.3)
       padding: 40px 65px 55px 65px
       background: white
       box-sizing: border-box
       position: fixed
       top: 50%
       left: 50%
       transform: translate(-50%,-50%)
       z-index: 10
