.main-annonces-wrap
    margin-left: 25px
    .main-annonces
        background: white
        box-shadow: 0.7px 0.7px 1px rgba(0, 0, 0, 0.1)
        padding: 30px 25px 45px 25px
        .channel__annonce__main
            padding-left: 0
            background: white
            padding-right: 15px
            margin-bottom: 40px
            border: none
            border-right: 1px solid $text2-color
            .tag
                top: 35px
                right: 25px
        .channel__annonce__main:nth-child(1)
            width: auto
            margin-right: 20px
            .annonce-img
                display: block
                img
                    width: 475px
                    height: 250px
            .channel__annonce__info-wrap
                display: flex
                justify-content: space-between
        .channel__annonce__main:nth-child(2)
            margin-right: 0
            border-right: none
        .channel__annonce__main:nth-child(5)
            margin-right: 0
