.mytranslation-search
  width: 230px
  display: inline-block
  vertical-align: top
  padding-right: 15px
  border-right: 1px solid $text3-color
  margin-right: 22px
  margin-bottom: 40px
  video
    height: 170px
  .video__youtube
    width: 100% !important
    height: 170px !important
  .about
    font-family: FiraSansMedium
    font-size: 14px
    line-height: 15px
    padding-right: 0
    padding-bottom: 5px
    margin-bottom: 5px
  .tag
    position: static
    display: inline-block
    color: white
    background: $userinfo-annonce
    font-size: 12px
    font-weight: 300
    line-height: 14px
    padding: 2px 8px
    margin-bottom: 10px
  .chats-user
    margin-bottom: 12px
.search__result-wrap .mytranslation-search:nth-child(4n)
  padding-right: 0
  margin-right: 0
  border-right: none
