.allnews-head
  margin-left: 20px
  padding: 0
.allnews-wrap
  background: white
  padding-top: 20px
  padding-bottom: 20px
  .search__news-wrap2
    padding-right: 20px
    padding-left: 20px
    width: 835px
    box-sizing: border-box
