.newsid-main
  width: 100%
  .newsid-wrap
    display: flex
    justify-content: space-between
    background: white
    padding: 25px
    box-sizing: border-box
    .newsid
      width: 642px
      h2
        color: black
        font-size: 27px
        font-weight: 700
        line-height: 30px
        padding: 0
        margin: 0
        margin-bottom: 15px
      .newsid__photo
        position: relative
        line-height: 0
        img
          width: 642px
          height: 296px
        .newsid__photo__signature
          position: absolute
          bottom: 0
          opacity: 0.8
          background-color: black
          display: block
          width: 100%
          p
            padding: 8px 12px
            color: white
            font-size: 13px
            font-weight: 400
            line-height: 15px
      .newsid__block
        padding: 15px 0
        display: flex
        justify-content: flex-start
        margin-bottom: 20px
        border-bottom: 1px solid $text2-color
        .time__day
          padding-right: 7px
          border-right: 1px solid $text3-color
          margin-right: 7px
        .comments
          display: flex
          align-items: center
          i
            color: $text-color
            margin-right: 3px
        .source
          margin-left: auto
          color: $text3-color
      .newsid__text
        p
          text-align: justify
          text-indent: 1em
      h3
        font-size: 15px
        line-height: 18px
        font-family: FiraSansBold
        margin-bottom: 35px
    .news
      .news-wrap
        box-shadow: none
  .newsid-wrap2
    display: block
