.photo__img
   line-height: 0
   img
      width: 80px
      height: 79px
.registration
   display: none
   background: white
   padding: 35px
   position: absolute
   top: 15%
   left: 50%
   transform: translate(-50%, 0)
   width: 596px
   box-sizing: border-box
   box-shadow: 3px 2.7px 4px rgba(0, 0, 0, 0.3)
   color: $text2-color
   z-index: 10
   overflow: auto
   font-weight: 400
   &.open
      display: block
   button
      color: $userinfo
      background: $header-top
      font-size: 13px
      font-weight: 300
      line-height: 24px
      border-radius: 2px
      border: 1px solid $userinfo-border
      padding: 0 20px
   label
      width: 113px
      display: inline-block
      color: $userinfo-label
      font-size: 14px
      font-weight: 300
      line-height: 15px
      i
         color: $text-color
         font-style: normal
         margin-left: 2px
   input[type=text]
      font-size: 14px
      font-weight: 300
      line-height: 22px
      color: $text2-color
      padding: 0 10px
      width: 270px
      box-sizing: border-box
      border-radius: 2px
      border: 1px solid $usernfo-input
   .registration__head
      color: $text3-color
      font-size: 18px
      line-height: 21px
      text-align: center
   .registration__text
      color: $text3-color
      font-size: 11px
      line-height: 13px
      text-align: center
   .registration__photo
      display: flex
      justify-content: flex-start
      margin-bottom: 25px
      .photo__img
         line-height: 0
         img
            width: 80px
            height: 79px
            border-radius: 4px
      .photo__button
         margin-left: 30px
         button
            margin-top: 25px
            line-height: 23px
   .registration__name
      position: relative
      margin-bottom: 30px
   .registration__sex
      margin-bottom: 30px
      button
         line-height: 23px
      .active
         color: white
         background: $text-color
         border: 1px solid $text-color
      span
         margin-left: 10px
   .registration__birth
      position: relative
      margin-bottom: 25px
      input
         width: 189px
      span
         margin-left: 10px
   .registration__field-require
      margin-bottom: 30px
   .add-information
      .add-information__head
         color: $text-color
         font-size: 13px
         line-height: 14px
         padding-bottom: 8px
         border-bottom: 1px solid $text2-color
         margin-bottom: 20px
         cursor: pointer
         i
            margin-left: 8px
      .add-information__agreement
         margin-left: 60px
         label
            width: auto
         input[type=checkbox]
            display: none
         label
            cursor: pointer
         input[type=checkbox] + label:before
            content: ''
            background: url(../images/icon/input.png) no-repeat 0 0
            width: 14px
            height: 13px
            padding-left: 20px
         input[type=checkbox]:checked + label:before
            content: ''
            background: url(../images/icon/input-checked.png) no-repeat 0 0
         a
            color: $text-color
         .add-information__agreement__button
            margin-top: 20px
            margin-right: 60px
            text-align: center
            position: relative
            button
               padding: 0 70px
               background: $text-color
               color: white
               border: none
            button:disabled
              opacity: 0.5
              cursor: default
