.sprite
  background: url(../images/icon/sprite.png)
  background-repeat: no-repeat
  display: inline-flex

.sprite-VISA
  width: 76px
  height: 72px
  background-position: -5px -5px

.sprite-WM
  width: 98px
  height: 65px
  background-position: -91px -5px

.sprite-add-profile
  width: 9px
  height: 6px
  background-position: -199px -5px

.sprite-annonce
  width: 14px
  height: 14px
  background-position: -218px -5px

.sprite-annonce-subscribe
  width: 13px
  height: 9px
  background-position: -242px -5px

.sprite-annonce-translation
  width: 21px
  height: 22px
  background-position: -265px -5px

.sprite-annonce2
  width: 14px
  height: 14px
  background-position: -296px -5px

.sprite-burger-menu
  width: 31px
  height: 16px
  background-position: -320px -5px

.sprite-burger-menu2
  width: 31px
  height: 16px
  background-position: -361px -5px

.sprite-close
  width: 13px
  height: 12px
  background-position: -402px -5px

.sprite-email
  width: 14px
  height: 8px
  background-position: -402px -27px

.sprite-email2
  width: 14px
  height: 8px
  background-position: -199px -45px

.sprite-facebook
  width: 19px
  height: 19px
  background-position: -223px -45px

.sprite-fb
  width: 16px
  height: 30px
  background-position: -252px -45px

.sprite-fb2
  width: 11px
  height: 18px
  background-position: -426px -5px

.sprite-footer-logo
  width: 188px
  height: 64px
  background-position: -91px -85px

.sprite-footer-mobile
  width: 16px
  height: 27px
  background-position: -296px -33px

.sprite-footer-rss
  width: 20px
  height: 19px
  background-position: -322px -33px

.sprite-github
  width: 30px
  height: 30px
  background-position: -352px -33px

.sprite-gmail
  width: 30px
  height: 30px
  background-position: -392px -45px

.sprite-google2
  width: 13px
  height: 18px
  background-position: -289px -85px

.sprite-header-logo
  width: 357px
  height: 123px
  background-position: -5px -159px

.sprite-header-translation
  width: 12px
  height: 12px
  background-position: -312px -85px

.sprite-header2-logo
  width: 183px
  height: 63px
  background-position: -5px -292px

.sprite-icon-android
  width: 23px
  height: 26px
  background-position: -334px -85px

.sprite-icon-android2
  width: 23px
  height: 26px
  background-position: -367px -85px

.sprite-icon-apple
  width: 23px
  height: 26px
  background-position: -400px -85px

.sprite-icon-apple2
  width: 23px
  height: 26px
  background-position: -5px -121px

.sprite-icon-arrow
  width: 9px
  height: 13px
  background-position: -38px -121px

.sprite-icon-comments
  width: 14px
  height: 12px
  background-position: -57px -121px

.sprite-icon-comments2
  width: 14px
  height: 12px
  background-position: -289px -121px

.sprite-icon-comments3
  width: 7px
  height: 4px
  background-position: -313px -121px

.sprite-icon-email
  width: 20px
  height: 14px
  background-position: -330px -121px

.sprite-icon-fb
  width: 14px
  height: 14px
  background-position: -360px -121px

.sprite-icon-include
  width: 4px
  height: 4px
  background-position: -432px -33px

.sprite-icon-inforoom
  width: 90px
  height: 30px
  background-position: -198px -292px

.sprite-icon-like
  width: 21px
  height: 17px
  background-position: -384px -121px

.sprite-icon-like2
  width: 21px
  height: 17px
  background-position: -415px -121px

.sprite-icon-next-news
  width: 5px
  height: 6px
  background-position: -278px -47px

.sprite-icon-prev-news
  width: 5px
  height: 6px
  background-position: -432px -47px

.sprite-icon-search
  width: 18px
  height: 18px
  background-position: -372px -148px

.sprite-icon-search2
  width: 19px
  height: 18px
  background-position: -400px -148px

.sprite-icon-star
  width: 16px
  height: 14px
  background-position: -372px -176px

.sprite-icon-subscribe
  width: 11px
  height: 10px
  background-position: -398px -176px

.sprite-icon-tw
  width: 15px
  height: 13px
  background-position: -419px -176px

.sprite-icon-watch
  width: 19px
  height: 10px
  background-position: -398px -199px

.sprite-input
  width: 14px
  height: 13px
  background-position: -372px -219px

.sprite-input-checked
  width: 14px
  height: 13px
  background-position: -396px -219px

.sprite-liked
  width: 16px
  height: 14px
  background-position: -420px -219px

.sprite-liked2
  width: 16px
  height: 14px
  background-position: -372px -243px

.sprite-linkedin
  width: 19px
  height: 19px
  background-position: -398px -243px

.sprite-miniheader-logo
  width: 81px
  height: 28px
  background-position: -298px -312px

.sprite-news-video
  width: 18px
  height: 11px
  background-position: -412px -272px

.sprite-phone
  width: 14px
  height: 12px
  background-position: -412px -293px

.sprite-phone2
  width: 14px
  height: 12px
  background-position: -389px -315px

.sprite-privat
  width: 67px
  height: 67px
  background-position: -198px -350px

.sprite-profile
  width: 15px
  height: 14px
  background-position: -413px -315px

.sprite-profile2
  width: 13px
  height: 12px
  background-position: -275px -339px

.sprite-profile3
  width: 15px
  height: 14px
  background-position: -389px -339px

.sprite-registration
  width: 80px
  height: 79px
  background-position: -298px -350px

.sprite-registration2
  width: 181px
  height: 83px
  background-position: -447px -5px

.sprite-stackoverflow
  width: 30px
  height: 30px
  background-position: -446px -98px

.sprite-subscribe
  width: 16px
  height: 13px
  background-position: -5px -98px

.sprite-subscribe2
  width: 16px
  height: 13px
  background-position: -31px -98px

.sprite-translation
  width: 10px
  height: 9px
  background-position: -57px -98px

.sprite-translation2
  width: 10px
  height: 9px
  background-position: -486px -98px

.sprite-tumblr
  width: 30px
  height: 30px
  background-position: -506px -98px

.sprite-tw
  width: 34px
  height: 25px
  background-position: -546px -98px

.sprite-twitter
  width: 23px
  height: 18px
  background-position: -446px -138px

.sprite-unsubscribe
  width: 10px
  height: 9px
  background-position: -479px -138px

.sprite-unsubscribe2
  width: 14px
  height: 10px
  background-position: -499px -138px


.sprite-video-play
  width: 102px
  height: 70px
  background-position: -523px -138px

.sprite-vk
  width: 31px
  height: 30px
  background-position: -446px -218px

.sprite-watch
  width: 23px
  height: 12px
  background-position: -487px -218px

.sprite-watch2
  width: 19px
  height: 10px
  background-position: -520px -218px

.sprite-watch3
  width: 23px
  height: 12px
  background-position: -549px -218px

.sprite-website
  width: 17px
  height: 16px
  background-position: -582px -218px

.sprite-website2
  width: 16px
  height: 15px
  background-position: -609px -218px

.sprite-youtube
  width: 66px
  height: 27px
  background-position: -487px -240px
