.stream-edit
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  z-index: 10
  background: white
  padding: 25px 60px 30px 60px
  color: $text3-color
  .stream-edit__head
    display: flex
    justify-content: flex-start
    align-items: center
    margin-bottom: 25px
    h2
      color: $text-color
      margin: 0
      text-transform: uppercase
  .stream-live__head
    i
      width: 11px
      height: 11px
      margin-right: 7px
      border-radius: 50%
      background: $start-translation
    h2
      color: $start-translation
  .hotlive__form__block
    position: relative
    display: flex
    justify-content: flex-start
    align-items: center
    margin-bottom: 25px
    box-sizing: border-box
    label
      width: 100px
      line-height: 23px
      text-align: left
      span
        color: $text-color
    input, textarea, select
      width: 230px
      border: 1px solid $text2-color
      border-radius: 2px
      padding: 0 12px
      box-sizing: border-box
    textarea
      resize: none
      padding: 7px 12px
    select
      line-height: 24px
      height: 24px
  .hotlive__form__description
    margin-bottom: 10px
    label
      align-self: flex-start
  .add__field
    display: flex
    align-items: center
    cursor: pointer
    padding-left: 90px
    margin-bottom: 15px
    img
      margin-right: 4px
    span
      color: $text-color
      font-size: 12px
      font-weight: 300
      line-height: 13px
      cursor: pointer
  .hotlive__form__required
    text-align: left
    margin-bottom: 20px
  .start-translation__button
    text-align: center
    position: relative
    button
      border-radius: 2px
      padding: 0 30px
      background: $text-color
      color: white
      border: none
      line-height: 27px
      height: 27px
  .start-translation__button__live
    button
      background: $start-translation
