.button__subscribe
  button
    display: flex
    align-items: center
    color: white
    line-height: 20px
    border-radius: 3px
    padding: 0
    padding-left: 10px
    padding-right: 15px
    background: $text-color
    border: 1px solid $text-color
    border: none
    width: 123px
    height: 20px
    i
      margin-right: 10px
  .unsubscribe-button
    background: $header-top
    color: $text3-color
