.userpage-navigation
    display: inline-block
    margin-top: 55px
    a
      font-family: FiraSansMedium
      position: relative
      padding-right: 30px
      font-size: 16px
      font-weight: 500
      line-height: 43px
      display: block
      padding-left: 20px
      color: #939598
      &.active
        color: $text-color
      i
        position: absolute
        bottom: 14px
        left: 0
        transform: translateX(-50%)
    a:nth-child(1)
        i
            background: url(../images/icon/profile3.png) no-repeat 0 0
            width: 15px
            height: 14px
    a:nth-child(1).active
        i
            background: url(../images/icon/profile.png) no-repeat 0 0
    a:nth-child(2)
        i
            background: url(../images/icon/annonce.png) no-repeat 0 0
            width: 14px
            height: 14px
    a:nth-child(2).active
        i
            background: url(../images/icon/annonce2.png) no-repeat 0 0
    a:nth-child(3)
        i
            background: url(../images/icon/translation.png) no-repeat 0 0
            width: 10px
            height: 9px
            bottom: 16px
    a:nth-child(3).active
        i
            background: url(../images/icon/translation2.png) no-repeat 0 0
    a:nth-child(4)
        i
            background: url(../images/icon/watch.png) no-repeat 0 0
            width: 23px
            height: 12px
    a:nth-child(4).active
        i
            background: url(../images/icon/watch3.png) no-repeat 0 0
    a:nth-child(5)
        i
            background: url(../images/icon/subscribe.png) no-repeat 0 0
            width: 16px
            height: 13px
    a:nth-child(5).active
        i
            background: url(../images/icon/subscribe2.png) no-repeat 0 0
    a:nth-child(6)
        i
            background: url(../images/icon/liked.png) no-repeat 0 0
            width: 16px
            height: 14px
    a:nth-child(6).active
        i
            background: url(../images/icon/liked2.png) no-repeat 0 0
