video[poster]
    width: 100%

.translation__web video[poster]
    height: 100%

.videoContainer
    position: relative

.videoShadow
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    width: 68px
    height: 48px
    background: rgba(0,0,0,0.6)
    border-radius: 12px
    z-index: 2
    span
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        border-left: 20px solid white
        border-top: 10px solid transparent
        border-bottom: 10px solid transparent
    &:hover
        background: #cc181e
