.invalid
    border-color: $text-color
    color: $text-color
.input--validate
    color: $text-color
    padding-left: 25px
.login-error
    position: absolute
    bottom: 90px
    left: 50%
    transform: translateX(-50%)
    width: 100%
    color: $text-color
    font-size: 14px
.profile-error
    color: $text-color
    position: absolute
    left: 24%
    bottom: 34px
.registration--warning
    text-align: left
    color: $text-color
    position: absolute
    top: 32px
    left: 10px
    font-size: 11px
.stream--validate
   position: absolute
   top: 28px
   right: 0
   font-size: 12px
   color: $text-color
.edit--error
   position: absolute
   top: -16px
   font-size: 12px
   color: $text-color
   width: 100%
   left: 50%
   transform: translateX(-50%)
