.watchcomments
  display: flex
  align-items: center
  justify-content: flex-start
  p
    i
      margin-right: 3px
    span
      vertical-align: middle
    .watch
      color: $text3-color
      border-right: 1px solid $text2-color
      padding-right: 6px
    .comments
      color: $text-color
  p:nth-child(2)
    padding-left: 6px
    margin-left: 3px
    a
      display: flex
      align-items: center
