.will-watch
   display: flex
   align-items: center
   i
      margin-right: 3px
   button
      width: 128px
      display: flex
      border: none
      color: white
      line-height: 22px
      height: 23px
      border-radius: 2px
      background: $text-color
      border: 1px solid $text-color
      padding-left: 5px
      padding-right: 10px
      margin-right: 7px
   .unwatching-button
      padding-right: 13px
      background: $header-top
      border: 1px solid $text2-color
      color: $text2-color
      i
         margin-left: 5px
         margin-right: 1px
   .subscribe-count
      color: #bcbec0
      font-size: 12px
      font-weight: 400
      line-height: 14px
