html
   height: 100%

body
   height: 100%
   font-family: FireSansLight
   font-size: 14px
   background-color: #eff1f7

//sticky footer
#root
   height: 100%

.app
   min-height: 100%
   display: flex
   flex-direction: column
   overflow: hidden

.content
   flex: 1

ul, p, h1, h2, h3, h4, h5, h6
   margin: 0
   padding: 0
ul
  list-style-type: none
a
   text-decoration: none
   color: $text3-color
i
  font-style: normal
img
  object-fit: cover
button
   color: $userinfo
   background: $header-top
   font-weight: 400
   font-size: 13px
   font-weight: 300
   line-height: 27px
   border-radius: 2px
   border: 1px solid $userinfo-border
   padding: 0 20px
   outline: none
label
   width: 113px
   display: inline-block
   color: $userinfo-label
   font-size: 14px
   font-weight: 300
   line-height: 24px
   display: block
input
   font-size: 13px
   font-weight: 300
   line-height: 23px
   color: $text2-color
   padding: 0 10px
   width: 270px
   box-sizing: border-box
   border-radius: 2px
   border: 1px solid $usernfo-input
   outline: none
select, textarea, option
  outline: none
select
  height: 24px

.time__day
   display: inline-flex
   align-items: center
   font-size: 13px
   font-weight: 400
   line-height: 14px
   i
     margin-right:  3px
.tag
   position: absolute
   top: 10px
   right: 10px
   color: white
   background: $userinfo-annonce
   font-size: 12px
   font-weight: 300
   line-height: 14px
   padding: 2px 8px
.about
   display: flex
   padding-top: 7px
   padding-right: 5px
   padding-bottom: 5px
   color: $text5-color
   font-family: FiraSansMedium
   font-size: 13px
   font-weight: 400
   line-height: 14px
.myannonce__info
   display: flex
   justify-content: flex-start
   align-items: center
   margin-bottom: 10px
   p
      .subscribe-count
         padding-right: 7px
         padding-left: 3px
         border-right: 1px solid $text3-color
         color: $text2-color
         font-size: 12px
         font-weight: 400
         line-height: 15px
      .comments-count
         padding-left: 3px
         color: $text-color
         font-size: 12px
         font-weight: 400
         line-height: 15px
   p:last-child
      display: flex
      align-items: center
      padding-left: 7px
video
  width: 230px
  border-radius: 2px
  // height: 130px
