.footer
	padding: 90px 125px 140px 125px
	background: #d3d5d6
	box-shadow: inset 1.4px 1.4px 4px rgba(0, 0, 0, 0.2)
	color: $footer-color
	.footer-top
		margin-bottom: 80px
		display: flex
		justify-content: space-between
		.footer-top__info
			a
				margin-bottom: 20px
				font-size: 13px
				font-weight: 400
				line-height: 14px
				display: block
				color: $footer-color
				i
					margin-right: 7px
					position: relative
					top: 5px
					display: inline-block
				//&:last-child i
					//top: 9px
		.footer-top__logo
			p
				font-size: 11px
				font-weight: 400
				line-height: 12px
				margin-bottom: 15px

		.footer-top__socials
			p
				margin-bottom: 10px
			ul
				list-style: none
				li
					display: inline-block
					margin-right: 25px
					&:last-child
						margin-right: 0
	.footer-bottom
		display: flex
		justify-content: flex-start
		.footer-bottom__app
			position: relative
			margin-right: 50px
			button
				display: flex
				align-items: center
				background: none
				color: $footer-color
				border: 1px solid $footer-color
				margin-right: 13px
				margin-bottom: 10px
				padding: 7px
				padding-left: 15px
				width: 140px
				box-sizing: border-box
				i
					margin-right: 10px
				span
					position: relative
					top: 2px
					font-size: 12px
					font-weight: 400
					line-height: 12px
					text-align: left

		.footer-bottom__navigation
			ul
				list-style: none
				padding: 0 30px
				li
					a
						color: $footer-color
						font-size: 13px
						font-weight: 400
						line-height: 20px
						margin-bottom: 7px
		.footer-bottom__navigation2
			border-left: 1px solid #808285
			border-right: 1px solid #808285
			ul
				padding-bottom: 15px
