.header-container
	width: 1280px
	margin: 0 auto
.header2__search
	display: flex
	align-items: center
	input
		display: none
		box-shadow: inset 0.6px 0.8px 2px rgba(0, 0, 0, 0.1)
		border-radius: 4px
		font-size: 14px
		line-height: 24px
		margin-right: 10px
		width: 400px
		&.open
			display: inline-block
	i
		cursor: pointer
.header__navigation
	display: block
	position: absolute
	top: 62px
	left: -30px
	z-index: 10
	.navigation
		box-shadow: 1.4px 1.4px 4px rgba(0, 0, 0, 0.2)
		background: $header-navigation
		padding: 25px 0 25px 0
		list-style-type: none
		li
			padding: 0 60px 0 30px
			a
				color: #939598
				// font-family: "Myriad Pro"
				font-size: 14px
				font-weight: 400
				line-height: 27px
				text-decoration: none
				display: block
		li:hover
			background: $userinfo-annonce
	.triangle
		position: absolute
		top: -8px
		left: 32px
		border-left: 8px solid transparent
		border-right: 8px solid transparent
		border-bottom: 8px solid $header-navigation
.header
	background: url(../images/header.jpg) no-repeat 0 0
	background-size: cover
	padding: 35px 30px
	padding-right: 40px
	position: relative
	.header__top
		margin-bottom: 30px
		display: flex
		justify-content: space-between
		position: relative
		.header__top__column1
			vertical-align: middle
			font-size: 0
			display: inline-flex
			align-items: center
			i
				margin-right: 40px
				cursor: pointer
			button
				display: inline-flex
				justify-content: start
				align-items: center
				background: none
				color: white
				border: 1px solid white
				margin-right: 13px
				padding: 7px
				padding-left: 15px
				width: 140px
				box-sizing: border-box
				i
					margin-right: 0
					top: auto
					margin-right: 10px
				span
					font-size: 12px
					font-weight: 400
					line-height: 12px
					text-align: left
		.header__top__column2
			display: inline-flex
			align-items: center

			i
				margin-right: 25px
				cursor: pointer
			button
				display: inline-flex
				border: 1px solid white
				margin-right: 30px
				padding: 8px 28px
				box-sizing: border-box
				color: #939598
				background: $header-top
				line-height: 13px
			.language
				color: $header-top
				font-size: 13px
				font-weight: 400
				line-height: 13px
				text-decoration: none
				.triangle
					border-left: 4px solid transparent
					border-right: 4px solid transparent
					border-top: 7px solid $header-top
					margin-right: 0
					margin-left: 3px
					font-size: 0
					width: 0
					height: 0
					top: 1px
					left: 4px
	.header__main-logo
		text-align: center
		margin-bottom: 30px
	.header__translation
		text-align: center
		button
			position: relative
			background: #8cc43f
			padding: 7px 15px 7px 35px
			border: none
			border-radius: 4px
			color: #fefefe
			font-size: 15px
			line-height: 20px
			text-transform: uppercase
			i
				position: absolute
				top: 11px
				left: 12px
.header-breadcrumps
	background: white
	margin-bottom: 25px
	border-top: 1px solid $text2-color
	ul
		padding-left: 30px
		li
			display: inline-block
			font-size: 0
			margin-right: 60px
			a
				color: #939598
				font-size: 15px
				font-weight: 400
				line-height: 16px
				padding: 10px 0
				display: block
				border-bottom: 3px solid transparent
		li:hover
			a
				border-bottom: 3px solid $text-color
		.active
			border-bottom: 3px solid $text-color
.header2
	background: white
	.header2-wrap
		display: flex
		justify-content: space-between
		align-items: center
		padding: 15px 0 20px 0
		position: relative
		.header__navigation
			top: 100px
		.header2__search
			input
				display: inline-block
		.header2__burger
			cursor: pointer
		.miniheader__logo
			margin-right: 102px
		.header2__translation
			button
				position: relative
				background: #8cc43f
				padding: 7px 15px 7px 35px
				border: none
				border-radius: 4px
				color: #fefefe
				font-size: 15px
				line-height: 20px
				text-transform: uppercase
				height: auto
				i
					position: absolute
					top: 11px
					left: 12px
		.header2__login
			button
				border-radius: 2px
				padding: 8px 28px
				box-sizing: border-box
				color: #939598
				background: $header-top
				line-height: 13px
				background: #eeefef
				border-radius: 2px
				border: 1px solid #d8d9da
		.header2__language
			.language
				color: $text3-color
				font-size: 13px
				font-weight: 400
				line-height: 13px
				text-decoration: none
				.triangle
					border-left: 4px solid transparent
					border-right: 4px solid transparent
					border-top: 7px solid $text3-color
					margin-left: 3px
					font-size: 0
					width: 0
					height: 0
					top: 1px
					left: 4px
	.miniheader-wrap
		padding: 8px 0
	.header2__authorized
		position: relative
		.header2__authorized-wrap
			display: flex
			justify-content: flex-start
			align-items: center
			.header2__authorized__photo
				margin-right: 9px
				width: 40px
				height: 40px
				border: 2px solid $text-color
				border-radius: 4px
				cursor: pointer
				img
					width: 100%
					height: 100%
			.header2__authorized__login
				color: $text-color
				font-family: FiraSansMedium
				font-size: 13px
				line-height: 14px
				cursor: pointer
		.header2__authorized__login-profile
			background-color: #f6f6f6
			box-shadow: 1.3px 1.6px 4px rgba(0, 0, 0, 0.2)
			z-index: 10
			position: absolute
			top: 60px
			left: -17px
			width: 200px
			box-sizing: border-box
			.triangle
				position: absolute
				border-left: 8px solid transparent
				border-right: 8px solid transparent
				border-bottom: 11px solid #f6f6f6
				font-size: 0
				top: -10px
				left: 30px
			.login-profile__balance
				border-bottom: 1px solid $footer-color
				margin-bottom: 10px
				padding: 15px 15px 8px 15px
				.balance__head
					color: $text3-color
					font-size: 12px
					line-height: 12px
				.balance__main
					display: flex
					align-items: flex-end
					font-size: 18px
					line-height: 18px
					color: $start-translation
					justify-content: flex-start
					.summ
						font-family: FiraSansMedium
					button
						padding: 0 5px
						color: white
						background: $start-translation
						line-height: 23px
						margin-left: auto
			.login-profile__link
				margin-bottom: 10px
				ul
					li
						transition: all 0.3s ease
						padding: 0 15px
						a
							display: block
							position: relative
							padding-left: 25px
							margin-left: 10px
							color: $footer-color
							font-family: FiraSansMedium
							font-size: 14px
							font-weight: 400
							line-height: 37px
							i
								position: absolute
								top: 11px
								left: 0
								transform: translateX(-50%)
					li:hover
						background: $userinfo-annonce
			.login-profile__logout
				text-align: center
				button
					width: 100%
					color: $text-color
					background: $header-top
					font-family: FiraSansMedium
					border: none
					padding: 0
					line-height: 37px
.miniheader-sticky
	z-index: 11
	position: relative
	top: 1000px
	display: none
	.header2
		.header__navigation
			top: 58px
.miniheader-sticky-active
	display: block
.content>div:nth-child(2)
	height: 0
