.all-streams-wrap
  .search_result_text
    color: #bcbec0
  .mytranslation-search
    margin-right: 18px
.all-users-wrap
  display: flex
  .search__channel-wrap
    .search__channel
      border-right: 1px solid #bcbec0
      margin-right: 20px
.all-annonces-wrap
  .search_result_text
    color: #bcbec0
  .mytranslation-search
    margin-right: 18px
