.announcements
	.announcements-wrap
		background: white
		box-shadow: 0.7px 0.7px 1px rgba(0, 0, 0, 0.1)
		padding: 10px
		margin-bottom: 30px
		.announcements
			.announcement
				padding-bottom: 10px
				border-bottom: 1px solid $text2-color
				margin-bottom: 15px
				&:last-child
					border: none
					padding-bottom: 0
					margin-bottom: 25px
				.announcement-photo
					position: relative
					img
						width: 231px
						height: 104px
				.announcement-describe
					.about
						font-size: 13px
						line-height: 14px
						padding-bottom: 15px
					.time__day
						color: $text-color
						font-family: FiraSansMedium
						font-size: 13px
						font-weight: 400
						line-height: 14px
						margin-bottom: 5px
					.author
						color: $text3-color
						font-size: 12px
						font-weight: 400
						line-height: 14px
		.announcementAll
			text-align: right
			a
				color: $text-color
				font-size: 13px
				font-weight: 400
				line-height: 14px
