.articles
	.articles-wrap
		background: white
		padding: 10px
		padding-bottom: 0
		box-shadow: 0.7px 0.7px 1px rgba(0, 0, 0, 0.1)
		.article
			padding-bottom: 20px
			margin-bottom: 20px
			border-bottom: 1px solid $text2-color
			&:last-child
				margin-bottom: 0
				border-bottom: none
			.article__video
				line-height: 0
				margin-bottom: 15px
				position: relative
				video
					width: 523px
					height: 330px
				.video__youtube
					width: 523px !important
					height: 330px !important
				i
					position: absolute
					bottom: 40px
					right: 13px
			.user__info
				margin-bottom: 23px
				display: flex
				justify-content: space-between
				align-items: flex-end
			.user__info__photo
				line-height: 0
				img
					width: 37px
					height: 37px
					padding-bottom: 3px
			.user__info__text
				width: calc(100% - 50px)
				.info1
					display: flex
					justify-content: space-between
					p
						max-width: 60%
						.describe
							color: #231f20
							font-family: FiraSansMedium
							font-size: 19px
							font-weight: 400
							line-height: 20px
						.tag
							position: relative
							top: -3px
							background-color: #cbccce
							display: inline-block
							font-size: 12px
							font-weight: 400
							line-height: 14px
							color: white
							padding: 1px 8px
							margin-left: 4px
							right: auto
					.watch
						color: $text3-color
						font-family: FiraSans
						font-size: 12px
						font-weight: 400
						line-height: 14px
						i
							margin-right: 3px
				.info2
					display: flex
					justify-content: flex-end
					align-items: center
					p:first-child
						margin-right: auto
						.author
							color: $text-color
							font-size: 13px
							font-weight: 400
							line-height: 14px
							display: inline-block
							padding-right: 8px
							margin-right: 8px
							border-right: 1px solid $text2-color
						i
							font-style: normal
							color: $text3-color
							font-size: 12px
							font-weight: 400
							line-height: 14px
					p:nth-child(2)
						.comments
							display: flex
							align-items: center
							color: $text-color
							font-size: 12px
							font-weight: 400
							line-height: 13px
							display: inline-block
							padding-right: 8px
							border-right: 1px solid $text2-color
							margin-right: 8px
							i
								position: relative
								top: 2px
								margin-right: 3px
					.button__liked
						margin-left: inherit
						width: 104px
	.articles__button
		text-align: center
		position: relative
		padding: 15px 0
		margin-top: 15px
		button
			background-color: #f05a2b
			border-radius: 4px
			border: none
			padding: 10px 30px
			color: white
			line-height: 14px
		a
			cursor: pointer
			position: absolute
			top: 0
			right: 0
			color: $text3-color
			font-size: 12px
			font-weight: 400
			line-height: 14px
			i
				margin-left: 3px
