.button__social
   button
      display: inline-flex
      align-items: center
      color: white
      font-size: 13px
      line-height: 13px
      border-radius: 3px
      padding: 0 4px
      background: $text-color
      border: 1px solid $text-color
      margin-right: 7px
      height: 20px
      i
         margin-right: 4px
   .button__social__fb
      background: $facebook-color
      border: 1px solid $facebook-color
   .button__social__tw
      background: $header-top
      border: 1px solid #d1d1d1
      color: #3b3735
   .button__social__email
      background: $header-top
      border: 1px solid $twitter-border
      color: $twitter-color
      margin-right: 0
