.calendar
  display: flex
  background: white
  padding: 15px 25px
  &__sidebar
    width: 238px
    flex-shrink: 0
  &__streams-list
    margin-left: 15px
    width: 800px
    &__navigation
      display: flex
      justify-content: space-between
      margin-bottom: 15px
      &__label
        margin: 15px
      &__btn
        cursor: pointer
        width: 17px
        height: 16px
        padding: 0
        background: #eeefef
        border: 1px solid #d7d8da
        position: relative
        i
          position: absolute
          top: 4px
          left: 5px
    &__nothing-to-show
      margin: auto
