.chats-user
   display: flex
   justify-content: flex-start
   .chats-user__photo
      border-radius: 2px
      line-height: 0
      img
        width: 40px
        height: 41px
        border-radius: 2px
   .chats-user__info
      margin-left: 5px
      p
         font-size: 13px
         font-weight: 400
         line-height: 14px
         color: $chats-color
         padding-bottom: 8px
         i
            font-size: 12px
            font-weight: bold
            font-style: normal
            margin: 0 3px
         .info__name
            color: $text-color
      .time
         color: $text3-color
         font-size: 12px
         font-weight: 400
         line-height: 13px
