.chats
	// padding-top: 15px
	// box-shadow: 0.7px 0.7px 1px rgba(0, 0, 0, 0.1)
	margin-bottom: 15px
	background: #f8f8f8
	.chats-wrap
		.border--top
			border-top: 1px solid $text2-color
		.chats__add-comments
			// border-bottom: 1px solid $text2-color
			text-align: center
			position: relative
			padding: 15px 10px
			.comment--auth
				font-size: 12px
				font-weight: 300
				line-height: 14px
				color: $text2-color
				margin-bottom: 10px
				span
					color: $text-color
					cursor: pointer
					font-weight: 700

			.comment_add
				display: flex
				justify-content: space-between
				border-bottom: 1px solid $text2-color
				margin-bottom: 10px
				.comment__text
					color: $footer-color
					font-size: 14px
					font-weight: 400
					line-height: 20px
				.comment__answer
					color: $text3-color
					font-size: 12px
					line-height: 20px
					font-weight: 400
					position: relative
					.icon--close
						position: absolute
						top: 50%
						left: -15px
						transform: translateY(-50%)
						display: inline-block
						width: 10px
						height: 10px
						line-height: 10px
						cursor: pointer
						polygon
							fill: $text3-color
						&:hover
							polygon
								fill: $text-color

			button
				color: $chats-color
				line-height: 14px
				padding: 9px 20px
				border: 1px solid #c3c4c6
				background: #eeefef
				border-radius: 2px
				i
					display: inline
					line-height: 0
					margin-right: 10px
			.reply
				position: absolute
				top: 2px
				right: 0
				a
					color: $chats-color
					font-size: 12px
					font-weight: 400
					line-height: 13px
		.chats__inline
			padding: 0 10px
			padding-top: 13px
			// border-bottom: 1px solid rgba(0, 0, 0, 0.1)
			.chats__inline__users
				.chats__inline__user
					margin-bottom: 25px
					&:last-child
						margin-bottom: 0
					&:last-child .chats__inline__text
						border-bottom: none
					.user__about
						display: flex
						justify-content: flex-start
						&__like
							display: flex
							margin-left: auto
							height: 20px
							align-items: center
							.like_wrapper
								display: flex
								cursor: pointer
								border-right: 1px solid $border-color
								.loader-wrapper
									padding-right: 9px
							// 	width: 100%
							.like_count
								color: $text3-color
								font-size: 12px
								font-weight: 400
								line-height: 13px
								margin-right: 4px
							i
								position: relative
								top: 1px
								padding-right: 9px

							.like__reply
								display: flex
								cursor: pointer
								padding-left: 9px
								color: $text3-color
								font-size: 12px
								font-weight: 400
								line-height: 14px
								height: 14px
								position: relative
								&:hover
									color: $text-color
					.chats__inline__text
						margin-top: 9px
						margin-left: 46px
						padding-bottom: 10px
						border-bottom: 1px dashed $border-color
						color: $text4-color
						font-family: PTSerifProExtended
						font-size: 13px
						font-weight: 300
						line-height: 17px
				.chats__inline__user-answer
					margin-left: 46px
		.chats__other-comments
			padding: 15px 0
			text-align: center
			position: relative
			background: #ededee
			.btn--hide
				width: 169px
			.btn--all
				width: 227px
			button
				color: $chats-color
				line-height: 14px
				padding: 0
				height: 34px
				border: 1px solid #c3c4c6
				background: #eeefef
				i
					display: inline
					line-height: 0
					margin-right: 10px
			.hide__comments
				position: absolute
				top: 15px
				right: 25px
				a
					color: $chats-color
					font-size: 12px
					font-weight: 400
					line-height: 13px
					i
						margin-left: 3px
	.comment_form
		display: flex
		justify-content: flex-start
		flex-direction: column
		.comment__input
			display: flex
			width: 100%
			height: 60px
			padding: 10px
			resize: none
			box-sizing: border-box
			font-size: 13px
		.btn_wrapper
			margin-top: 10px
			display: flex
			justify-content: flex-end
			align-items: center
			height: 24px
			.btn__send
				display: flex
				cursor: pointer
				&:hover
					.btn__name
						color: $text-color
					.btn__icon
						path
							fill: $text-color
				.btn--center
					display: flex
					align-items: center
				.btn__name
					color: $text3-color
					font-size: 14px
					font-weight: 300
					line-height: 14px
					margin-right: 5px
				.btn__icon
					display: inline-block
					width: 20px
					path
						fill: $text3-color
