
.contract
   width: 596px
   background-color: white
   box-shadow: 3px 2.7px 4px rgba(0, 0, 0, 0.3)
   padding: 40px
   box-sizing: border-box
   position: fixed
   top: 0
   left: 50%
   margin-left: -298px
   z-index: 12
   ::-webkit-scrollbar
      width: 5px
   ::-webkit-scrollbar-track-piece
      background-color: $text3-color
      border: 2px solid white
   ::-webkit-scrollbar-thumb
      background: $text3-color
      height: 168px
   .contract-wrap
      height: 660px
      overflow-y: auto
      font-size: 12px
      line-height: 19px
      color: $text2-color
      h2
         text-align: center
         color: $text3-color
         font-size: 18px
         line-height: 22px
         margin-bottom: 30px
      p
         margin-bottom: 25px
      .contract__condition
         font-family: FiraSansMedium
         margin-bottom: 5px
      ol
         margin: 0
         padding-left: 16px
         .list-head
            margin: 25px 0
   .contract-button
      text-align: center
      margin-top: 20px
      span
         display: inline-block
         padding: 0 30px
         font-size: 13px
         line-height: 27px
         font-weight: 300
         background: $text-color
         color: white
         border-radius: 2px
