.public__head
   color: $text3-color
   font-size: 19px
   font-weight: 500
   line-height: 20px
   padding-bottom: 7px
   margin-bottom: 18px
   border-bottom: 1px solid $text3-color
   font-family: FiraSansMedium
.userinfo__about__public
   border-bottom: 1px solid $text3-color
   padding-bottom: 65px
   margin-bottom: 15px
   .public__location
      label
         display: block
         margin-bottom: 15px
      input
         margin-bottom: 35px
      .location__country
         width: 185px
         margin-right: 15px
      .location__city
         width: 325px
      .location__about
         font-size: 14px
         font-weight: 300
         line-height: 15px
         color: $text2-color
         padding: 10px
         box-sizing: border-box
         border-radius: 2px
         border: 1px solid $usernfo-input
         margin-bottom: 35px
         width: 525px
         resize: none
         outline: none
   .public__socials
      margin-bottom: 35px
      label
         display: block
         margin-bottom: 15px
      input
         margin-bottom: 10px
      .social__network
         width: 185px
         margin-right: 15px
      .social__link
         width: 325px
      .add__field
         span
            color: $text-color
            margin-left: 3px
            cursor: pointer
   .public__web
      margin-bottom: 30px
      label
         display: block
         margin-bottom: 15px
      .web-wrap
         display: flex
         justify-content: flex-start
         align-items: center
         i
            margin-right: 10px
   .public__contact
      label
         display: block
         margin-bottom: 15px
      .phone-wrap
         display: flex
         justify-content: flex-start
         align-items: center
         margin-bottom: 10px
         i
            margin-right: 13px
      .phone--wrap
         position: relative
      .add__field
         margin-left: 27px
         margin-bottom: 15px
         i
           margin-right: 3px
      .remove__field
         margin-left: 10px
         span
            color: $text-color
            margin-left: 3px
            cursor: pointer
      .email-wrap
         display: flex
         justify-content: flex-start
         align-items: center
         i
            margin-right: 13px
