.icon__close
   position: absolute
   top: 20px
   right: 20px
   cursor: pointer
.enter__link
   color: $text-color
   cursor: pointer
.enter
   display: none
   z-index: 11
   position: fixed
   top: 50%
   left: 50%
   transform: translate(-50%, -50%)
   width: 330px
   background-color: white
   box-shadow: 3px 2.7px 4px rgba(0, 0, 0, 0.3)
   padding: 45px 40px 30px 40px
   box-sizing: border-box
   text-align: center
   font-weight: 400
   color: $text2-color
   &.open
       display: block
   .enter__head
      color: $text3-color
      font-size: 18px
      line-height: 21px
      margin-bottom: 10px
   .enter__text
      color: $text3-color
      font-size: 11px
      line-height: 14px
      margin-bottom: 20px
   .enter__social
      margin-bottom: 30px
      .enter__social__button
         color: white
         font-size: 11px
         line-height: 32px
         width: 213px
         box-sizing: border-box
         border: none
         outline: none
         border-radius: 4px
         text-align: left
         padding-left: 10px
         vertical-align: middle
         i
            width: 11px
            padding-right: 10px
            border-right: 1px solid $text2-color
            vertical-align: middle
      .enter__social__fb
         background: $facebook-color
         margin-bottom: 15px
         span
            padding-left: 32px
      .enter__social__google
         background: $google-color
         span
            padding-left: 37px
   .enter__line

      margin-bottom: 30px
      span
         position: relative
         display: inline
         background: white
         z-index: 2
         padding: 0 12px
         font-size: 12px
         line-height: 14px
      &::after
         content: ''
         position: relative
         top: -8px
         display: block
         z-index: 1
         border-bottom: 1px solid $text2-color
   .enter__form
      position: relative
      input[type=email], input[type=password]
         font-size: 12px
         line-height: 14px
         border-radius: 2px
         border: 1px solid $text2-color
         margin-bottom: 20px
         width: 100%
         padding: 7px 10px
         box-sizing: border-box
      .enter__remember
         display: flex
         justify-content: flex-start
         margin-bottom: 30px
         .enter__link
            margin-left: auto
         input[type=checkbox]
            display: none
         label
            cursor: pointer
            width: auto
            line-height: 16px
         input[type=checkbox] + label:before
            content: ''
            background: url(../images/icon/input.png) no-repeat 0 0
            width: 14px
            height: 13px
            padding-left: 20px
         input[type=checkbox]:checked + label:before
            content: ''
            background: url(../images/icon/input-checked.png) no-repeat 0 0
      .enter__button
         border-radius: 2px
         padding: 0 20px
         box-sizing: border-box
         color: #939598
         background: #eeefef
         font-size: 13px
         font-weight: 400
         line-height: 27px
         height: 27px
         background: #eeefef
         border-radius: 2px
         border: 1px solid #d8d9da
         margin-bottom: 30px
