.is--available
   color: $userinfo-label
.annonce-img
   display: block
   position: relative
   line-height: 0
   font-style: normal
.channel__annonce__main
   width: 230px
   display: inline-block
   vertical-align: top
   background-color: $header-top
   border: 1px solid $text2-color
   padding: 10px
   box-sizing: border-box
   margin-right: 30px
   margin-bottom: 30px
   position: relative
   .annonce-img
      display: block
      position: relative
.annonce-user
   display: inline-flex
   align-items: center
   justify-content: flex-start
   margin-bottom: 5px
   i
      line-height: 0
      img
        width: 32px
        height: 31px
        border-radius: 2px
   p
      margin-left: 5px
      color: $text-color
      font-size: 13px
      line-height: 15px
.menu-user
   display: flex
   justify-content: flex-start
   .menu-user__info
      width: 200px
      padding-right: 20px
      box-sizing: border-box
      .menu-user__info__block
         padding: 15px 0 20px 0
         border-bottom: 1px solid $text2-color
         &:last-child
            border-bottom: none
            padding-bottom: 0
         p
            color: $text3-color
            font-size: 12px
            font-weight: 400
            font-family: FiraSansMedium
            line-height: 18px
            display: flex
            align-items: center
            i
               margin-right: 7px
            span
               font-family: FiraSansMedium
         p:first-child
            font-family: FiraSansMedium
            margin-bottom: 3px
         p:last-child
            word-wrap: break-word
            word-break: break-all
      .menu-user__info__socials
         .socials-icon
            margin-top: 10px
            margin-bottom: 15px
            a
               margin-right: 15px
      .menu-user__info__contacts
         .phone__block
            margin-bottom: 6px
   .menu-user__channel
      width: 850px
      background: white
      .channel__background
         line-height: 0
         img
            width: 100%
            height: 186px
      .channel__subscribe
         display: flex
         justify-content: flex-start
         align-items: flex-end
         padding: 0 27px
         margin-top: -70px
         margin-bottom: 40px
         i
            line-height: 0
            .logo
               width: 103px
               height: 102px
               border-radius: 4px
         .channel__subscribe__name
            margin-left: 10px
            .author
               color: white
               font-family: FiraSansMedium
               font-size: 19px
               font-weight: 400
               line-height: 19px
               margin-bottom: 5px
            .location
               color: white
               font-family: FiraSansLight
               font-size: 12px
               font-weight: 400
               line-height: 14px
               margin-bottom: 20px
               min-height: 10px
         .subscribe__info
            display: flex
            justify-content: space-between
            margin-left: 10px
            p
               color: $text2-color
               font-size: 12px
               font-weight: 400
               line-height: 15px
               padding-left: 9px
               i
                  margin-right: 3px
            p:first-child
               padding-right: 9px
               padding-left: 0
               border-right: 1px solid $text2-color
         .button__social
            margin-left: auto
      .channel__translation
         margin-bottom: 40px
         padding: 0 25px
         .channel__translation__head
            padding-bottom: 7px
            margin-bottom: 18px
            border-bottom: 1px solid $text3-color
            p
               color: $userinfo-label
               font-size: 13px
               font-weight: 400
               line-height: 15px
         .channel__translation__all
            text-align: center
            button
               color: $userinfo
               background: $header-top
               line-height: 29px
               border-radius: 2px
               border: 1px solid $userinfo-border
               padding: 0 25px
      .channel__annonce
         margin-bottom: 40px
         padding: 0 25px
         .channel__annonce__head
            padding-bottom: 7px
            margin-bottom: 18px
            border-bottom: 1px solid $text3-color
            p
               color: $userinfo-label
               font-size: 13px
               font-weight: 400
               line-height: 15px
               .author
                  font-family: FiraSansMedium
         .channel__annonce__wrap
      .channel__liked
         margin-bottom: 40px
         padding: 0 25px
         .channel__liked__head
            padding-bottom: 7px
            margin-bottom: 18px
            border-bottom: 1px solid $text3-color
            p
               color: $userinfo-label
               font-size: 13px
               font-weight: 400
               line-height: 15px
               i
                  margin-right: 7px
         .userlikedinfo
            .userlikedinfo__about
               .mytranslation-search:nth-child(3n)
                  margin-right: 0
                  border-right: none
