body
	background-color: #ededee
	box-shadow: inset 1.4px 1.4px 4px rgba(0, 0, 0, 0.2)
h2
	color: #939598
	font-family: FiraSansBold
	font-size: 16px
	font-weight: 700
	line-height: 20px
	padding-left: 10px
	margin-bottom: 5px
.main-container
	width: 1075px
	margin: 0 auto
.head-container
	width: 1075px
	margin: 0 auto
	display: flex
	justify-content: flex-start
.clearfix:after
	content: ''
	clear: both
	display: table

.news
	.news-wrap
		background-color: white
		box-shadow: 0.7px 0.7px 1px rgba(0, 0, 0, 0.1)
		padding: 10px
		.news__top-wrap
			.news__head
				color: #939598
				font-size: 14px
				font-weight: 400
				line-height: 16px
				padding-bottom: 10px
			.news__top
				position: relative
				margin-bottom: 35px
				&__pagination
					position: absolute
					top: -25px
					right: 0
					.news__button
						width: 17px
						height: 16px
						padding: 0
						background: #eeefef
						border: 1px solid #d7d8da
						i
							position: relative
							top: -7px
					.button-prev
						border-top-left-radius: 2px
						border-bottom-left-radius: 2px
						border-right: 0px solid transparent
					.button-next
						border-top-right-radius: 2px
						border-bottom-right-radius: 2px
				&__description
					position: absolute
					bottom: 0
					opacity: 0.8
					background-color: black
					padding: 8px 12px
					p
						color: white
						font-family: FiraSansMedium
						font-size: 14px
						font-weight: 400
						line-height: 16px
				img
					width: 100%
			.news__next-wrap
				.news__next
					border-bottom: 1px solid $text2-color
					padding: 8px 12px
					padding-left: 0
					&:last-child
						border-bottom: none
						margin-bottom: 20px
					a
						color: $text2-color
						.news__next__time
							font-size: 12px
							font-weight: 400
							line-height: 14px
							.time__day
								color: inherit
							.news-video
								position: relative
								top: 1px
								margin-left: 8px
						p
							color: #58595b
							font-size: 13px
							font-weight: 400
							line-height: 14px
							padding-top: 5px
			.news__button-all
				text-align: right
				margin-bottom: 15px
				a
					color: #f05a2b
					font-size: 13px
					font-weight: 400
					line-height: 14px
