.pay
   display: block
   width: 600px
   box-shadow: 3px 2.7px 4px rgba(0, 0, 0, 0.3)
   padding: 40px 65px 55px 65px
   background: white
   box-sizing: border-box
   position: fixed
   top: 44%
   left: 50%
   transform: translate(-50%,-50%)
   z-index: 10
   .pay_close
      position: absolute
      top: 25px
      right: 25px
      cursor: pointer
   h2
      color: $text3-color
      font-family: FireSansRegular
      font-size: 18px
      font-weight: 400
      line-height: 19px
      text-align: center
      margin-bottom: 30px
   .pay__method
      display: flex
      justify-content: space-between
      button
         width: 125px
         height: 125px
