.popular
	h2
		padding-left: 0
		i
			margin-right: 3px
	.popular-wrap
		background: white
		box-shadow: 0.7px 0.7px 1px rgba(0, 0, 0, 0.1)
		padding: 10px
		margin-bottom: 30px
		.populars
			.popular
				padding-bottom: 10px
				border-bottom: 1px solid $text2-color
				margin-bottom: 15px
				&:last-child
					border: none
					padding-bottom: 0
					margin-bottom: 0
				.popular-video
						iframe
							border: none
							border-radius: 4px
				.popular-describe
					p
						display: flex
						justify-content: space-between
					.about
						font-size: 14px
						line-height: 15px
						padding-top: 0
					.author
						float: left
						color: $text-color
						font-size: 13px
						font-weight: 400
						line-height: 14px
					.watch
						float: right
						color: #a7a9ac
						font-size: 12px
						font-weight: 400
						line-height: 14px
						i
							padding-right: 3px
					.comments
						float: right
						color: $text-color
						font-size: 12px
						font-weight: 400
						line-height: 14px
						display: inline-block
						padding-right: 8px
						i
							position: relative
							top: 2px
							padding-right: 3px
