.search__add__button
  text-align: center
  margin-bottom: 20px
.search
  .search__input
    display: flex
    align-items: center
    margin-bottom: 25px
    input
      width: 50%
      // font-family: FiraSans
      font-size: 16px
      font-weight: 500
      line-height: 25px
    button
      background: $text-color
      border: none
      margin-left: -4px
      width: 58px
      height: 27px
      i
        vertical-align: middle
  .search__result__head
    color: #939598
    font-size: 16px
    font-weight: 500
    line-height: 16px
    margin-left: 20px
    margin-bottom: 10px
  .search__result-wrap
    background: white
    position: relative
    padding-bottom: 100px
    margin-bottom: 180px
    box-shadow: 0.7px 0.7px 1px rgba(0, 0, 0, 0.1)
    .userinfo
      padding-left: 20px
      background: white
    .search__result
      margin-bottom: 55px
      .search__result__list
        background: white
        border-bottom: 1px solid $text2-color
        padding-right: 20px
        ul
            padding-top: 15px
            padding-left: 20px
            li
                display: inline-block
                font-size: 0
                margin-right: 60px
                a
                    position: relative
                    color: #939598
                    font-size: 15px
                    font-weight: 400
                    line-height: 16px
                    padding: 10px 0
                    display: block
                .active
                    border-bottom: 3px solid $text-color
                sup
                    position: absolute
                    top: 7px
                    left: 100%
                    color: $text-color
    .search__result__text
      position: absolute
      left: 20px
      top: 70px
      color: $text2-color
      font-size: 12px
      line-height: 14px
.search__news-wrap
  padding-right: 20px
  .search__news
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 20px
    padding-bottom: 15px
    padding-right: 50px
    border-bottom: 1px solid  $text2-color
    .search__news__photo
      margin-right: 15px
      i
        img
          width: 133px
          height: 86px
    .search__news__head
      .time__day
        font-size: 12px
        font-weight: 400
        line-height: 12px
        margin-bottom: 5px
      .news__head
        color: $news-head
        font-family: FiraSansMedium
        font-size: 16px
        font-weight: 400
        line-height: 16px
        margin-bottom: 10px
      .news__text
        position: relative
        color: #6d6e71
        font-size: 13px
        font-weight: 300
        line-height: 18px
        overflow: hidden
        max-height: 52px
        h2
          margin: 0
          padding: 0
.search__channel-wrap
  display: flex
  flex-wrap: wrap
  .search__channel
    width: 240px
    border-right: 1px solid $text2-color
    margin-right: 25px
    margin-bottom: 25px
    &:nth-child(4n)
      margin-right: 0
      border-right: none
    .search__channel__subscribe
      .subscribe__photo
        margin-bottom: 10px
        i
          img
            width: 103px
            height: 102px
            border-radius: 4px
      .subscribe__name
        color: $text3-color
        margin-bottom: 25px
        p:nth-child(1)
          font-size: 19px
          font-weight: 500
          line-height: 19px
          margin-bottom: 8px
        p:nth-child(2)
          color: #a7a9ac
          font-size: 12px
          font-weight: 300
          line-height: 14px
      .subscribe__info
        margin-top: 13px
        display: flex
        justify-content: flex-start
        margin-bottom: 20px
        p
           color: $text2-color
           font-size: 12px
           font-weight: 400
           line-height: 15px
           padding-left: 9px
           i
              margin-right: 3px
        p:first-child
           padding-right: 9px
           padding-left: 0
           border-right: 1px solid $text2-color
      .subscribe__duration
        color: $text2-color
        font-size: 12px
        font-weight: 300
        line-height: 15px
.search__news-wrap2
  padding: 0
  padding-right: 20px
