.start-translation
	z-index: 12
	display: block
	position: fixed
	top: 50%
	left: 50%
	margin-left: -397px
	margin-top: -330px
	width: 795px
	background-color: white
	box-shadow: 3px 2.7px 4px rgba(0, 0, 0, 0.3)
	padding: 25px 30px 30px 30px
	box-sizing: border-box
	color: $text3-color
	.start-translation__head
		text-align: center
		font-size: 18px
		line-height: 21px
		margin-bottom: 25px
	.start-translation-wrap
		display: flex
		justify-content: flex-start
		h2
			font-size: 27px
			font-weight: 700
			line-height: 28px
		.start-translation__text
			font-size: 11px
			line-height: 11px
		.start-translation__hotlive
			box-sizing: border-box
			text-align: center
			border-right: 1px solid $text2-color
			padding-right: 40px
			h2
				color: $start-translation
				display: inline-flex
				align-items: center
				text-align: center
				margin-bottom: 20px
				i
					border-radius: 50%
					width: 11px
					height: 11px
					background: $start-translation
					margin-right: 7px
			.start-translation__text
				margin-bottom: 50px
			.hotlive__form__block
				display: flex
				justify-content: flex-start
				align-items: center
				margin-bottom: 25px
				box-sizing: border-box
				position: relative
				label
					width: 90px
					line-height: 23px
					text-align: left
					span
						color: $text-color
				input, textarea, select
					width: 230px
					outline: none
					border: 1px solid $text2-color
					border-radius: 2px
					padding: 0 12px
					box-sizing: border-box
				textarea
					resize: none
					padding: 7px 12px
			.hotlive__form__description
				margin-bottom: 15px
				label
					align-self: flex-start
			.hotlive__form__required
				text-align: left
				margin-bottom: 20px
			.hotlive__form__price
				text-align: left
				width: 100%
				box-sizing: border-box
				h2
					display: block
					text-align: left
					color: $footer-color
					font-family: FiraSansMedium
					font-size: 16px
					font-weight: 400
					line-height: 16px
					padding-left: 0
					padding-bottom: 8px
					margin-bottom: 10px
					border-bottom: 1px solid $footer-color
				.price__blocks
					display: flex
					justify-content: space-between
					text-align: center
					margin-bottom: 20px
					.price__block1
						padding: 20px 25px 5px 10px
						border-right: 1px solid $text2-color
						p:first-child
							color: $start-translation
							font-family: FiraSansBold
							font-size: 27px
							font-weight: 700
							line-height: 27px
							margin-bottom: 10px
							.cost
								margin-right: 5px
						p:last-child
							color: $text2-color
							font-size: 12px
							font-weight: 400
							line-height: 12px
							letter-spacing: 0.3px
					.price__block2
						padding-right: 5px
						padding-bottom: 5px
						p:nth-child(1)
							font-size: 14px
							line-height: 14px
							margin-bottom: 5px
						p:nth-child(2)
							color: $balance
							font-family: FiraSansMedium
							font-size: 19px
							line-height: 19px
							margin-bottom: 8px
						button
							padding: 0 20px
							color: white
							background: $start-translation
							font-size: 13px
							font-weight: 400
							line-height: 23px
							outline: none
							border: none
							border-radius: 2px
					.price__block2-other
						padding-right: 20px
						p:nth-child(2)
							color: $start-translation
							span
								color: $start-translation
				.start-translation__button
					text-align: center
					button
						border-radius: 2px
						padding: 0 30px
						background: $start-translation2
						color: $start-translation-color
						border: 1px solid $userinfo-border
						line-height: 27px
				.start-translation__button2
					text-align: center
					position: relative
					button
						border: none
						background: $start-translation
						padding: 0 30px
						height: 27px
						color: white
		.start-translation__annonce
			padding-left: 40px
			.start-translation__annonce__head
				display: flex
				justify-content: flex-start
				align-items: center
				h2
					color: $text-color
					margin: 0
			.start-translation__text
				margin-bottom: 30px
				text-align: center
				width: 75%
				margin-top: 10px
			.hotlive__form__block
				display: flex
				justify-content: flex-start
				align-items: center
				margin-bottom: 25px
				box-sizing: border-box
				position: relative
				label
					width: 100px
					line-height: 23px
					text-align: left
					span
						color: $text-color
				input, textarea, select
					width: 230px
					border: 1px solid $text2-color
					border-radius: 2px
					padding: 0 12px
					box-sizing: border-box
				textarea
					resize: none
					padding: 7px 12px
			.hotlive__form__description
				margin-bottom: 10px
				label
					align-self: flex-start
			.add__field
				display: flex
				align-items: center
				cursor: pointer
				padding-left: 90px
				margin-bottom: 15px
				i
					margin-right: 4px
				span
					color: $text-color
					font-size: 12px
					font-weight: 300
					line-height: 13px
					cursor: pointer
			.hotlive__form__required
				text-align: left
				margin-bottom: 20px
			.hotlive__form__price
				text-align: left
				width: 100%
				box-sizing: border-box
				h2
					display: block
					text-align: left
					color: $footer-color
					font-family: FiraSansMedium
					font-size: 16px
					font-weight: 400
					line-height: 16px
					padding-left: 0
					padding-bottom: 8px
					margin-bottom: 15px
					border-bottom: 1px solid $footer-color
				.price__blocks
					text-align: center
					margin-bottom: 25px
					p:first-child
						color: $start-translation
						font-family: FiraSansBold
						font-size: 27px
						font-weight: 700
						line-height: 27px
						margin-bottom: 10px
						.cost
							margin-right: 5px
					p:last-child
						color: $text2-color
						font-size: 12px
						font-weight: 400
						line-height: 12px
				.price__block2
					padding-right: 5px
					padding-bottom: 5px
					p:nth-child(1)
						font-size: 14px
						line-height: 14px
						margin-bottom: 5px
					p:nth-child(2)
						color: $balance
						font-family: FiraSansMedium
						font-size: 12px
						line-height: 12px
						margin-bottom: 8px
			.start-translation__button
				text-align: center
				position: relative
				button
					border-radius: 2px
					padding: 0 30px
					background: $text-color
					color: white
					border: none
					line-height: 27px
					height: 27px
