.streamid-column1
  width: 560px
  box-sizing: border-box
  margin-right: 20px
  .comments-head
    color: $footer-color
    margin: 0 10px
    padding-bottom: 5px
    font-size: 14px
    line-height: 17px
    border-bottom: 1px solid $text2-color

.streamid-column2
  width: 500px
  box-sizing: border-box
  margin-top: 25px
  .streamid__wrap
    .streamid__head
      color: $footer-color
      font-size: 14px
      font-weight: 400
      line-height: 14px
      margin-bottom: 15px
      margin-left: 10px
    .mytranslation-search
      border-right: none
    .mytranslation-search:nth-child(3)
      margin-right: 0
      padding-right: 0
