.triangle-subscribe
   top: 182px !important
.mysubscribe-wrap
   margin-top:  10px
   .mysubscribe
      padding-right: 60px
      padding-bottom: 60px
      .mysubscribe__channel
         display: flex
         align-items: center
         justify-content: flex-start
         padding-bottom: 10px
         border-bottom: 1px solid $text3-color
         margin-bottom: 20px
         .mysubscribe__name__photo
            img
               width: 41px
               height: 40px
               border-radius: 2px
         .mysubscribe__channel__name
            margin-left: 10px
            color: $text-color
            font-size: 13px
            font-weight: 500
            line-height: 14px
         .mysubscribe__channel__button
            margin-left: auto
      .mysubscribe__video
         display: flex
         flex-wrap: wrap
         .mytranslation
            &:last-child
               padding-right: 0
               border: none
