.translation
	.translation-wrap
		padding: 10px
		background-color: white
		box-shadow: 0.7px 0.7px 1px rgba(0, 0, 0, 0.1)
		border-bottom: 1px solid rgba(0, 0, 0, 0.1)
		.translation__web
			margin-bottom: 15px
			video
				width: 523px
				height: 330px
			.video__youtube
				width: 523px !important
				height: 330px !important
		.user__info
			margin-bottom: 23px
			display: flex
			align-items: flex-end
			justify-content: space-between
			.user__info__photo
				line-height: 0
				img
					width: 37px
					height: 37px
					margin-bottom: 5px
			.user__info__text
				width: calc(100% - 50px)
				.info1
					display: flex
					justify-content: space-between
					p
						max-width: 60%
						.describe
							color: #231f20
							font-family: FiraSansMedium
							font-size: 19px
							font-weight: 400
							line-height: 17px
						.tag
							position: relative
							top: -3px
							background-color: #cbccce
							display: inline-block
							font-size: 12px
							font-weight: 400
							line-height: 14px
							color: white
							padding: 2px 8px
							margin-left: 4px
							right: auto
					.watch
						color: $text3-color
						font-family: FiraSans
						font-size: 12px
						font-weight: 400
						line-height: 14px
						i
							margin-right: 3px
				.info2
					display: flex
					justify-content: space-between
					div
						.author
							color: $text-color
							font-size: 13px
							font-weight: 400
							line-height: 14px
							display: inline-block
							padding-right: 8px
							margin-right: 8px
							border-right: 1px solid $text2-color
						i
							font-style: normal
							color: $text3-color
							font-size: 12px
							font-weight: 400
							line-height: 14px
						.comments
							color: $text-color
							font-size: 12px
							font-weight: 400
							line-height: 14px
							display: inline-block
							padding-right: 8px
							border-right: 1px solid $text2-color
							margin-right: 8px
							i
								position: relative
								top: 2px
								margin-right: 3px
					div:last-child
						display: flex
						align-items: center
						.button__liked
							width: 104px
		.translation__about__button
			padding-bottom: 20px
			border-bottom: 1px solid $text2-color
			display: flex
			justify-content: space-between
		.translation__description
			padding-top: 15px
			padding-bottom: 15px
			p
				color: $text4-color
				font-size: 13px
				line-height: 18px
				a
					color: $text-color
