.edit__photo
   display: flex
   justify-content: flex-start
   margin-bottom: 30px
   align-items: center
   .photo__img
      line-height: 0
      img
        width: 80px
        height: 79px
        border-radius: 4px
   .photo__button
      margin-left: 32px
.userprofile-wrap
   width: calc(100% - 175px)
   .add__field
      display: inline-flex
      align-items: center
      cursor: pointer
      img
         margin-right: 4px
      span
         color: $text-color
         font-size: 12px
         font-weight: 300
         line-height: 13px
   .userinfo
      background: white
      padding: 15px 25px 0 25px
      position: relative
      min-height: 500px
      .triangle
         position: absolute
         top: 10px
         left: -13px
         border-top: 14px solid transparent
         border-right: 14px solid white
         border-bottom: 14px solid transparent
      .userinfo__about
         .userinfo__about__main
            margin-bottom: 70px
            .main__name
               color: $text3-color
               font-size: 19px
               font-weight: 500
               line-height: 20px
               padding-bottom: 7px
               margin-bottom: 18px
               border-bottom: 1px solid $text3-color
               p
                  font-family: FiraSansMedium
            .main__email
               margin-bottom: 30px
            .main__sex
               margin-bottom: 30px
               button
                  line-height: 23px
               .active
                  color: white
                  background: $text-color
                  border: 1px solid $text-color
            .main__birth
               margin-bottom: 30px
               input
                  width: 188px
         .userinfo__about__public
            border-bottom: 1px solid $text3-color
            padding-bottom: 65px
            .public__head
               color: $text3-color
               font-size: 19px
               font-weight: 500
               line-height: 20px
               padding-bottom: 7px
               margin-bottom: 18px
               border-bottom: 1px solid $text3-color
            .location__country
               margin-bottom: 10px
            .public__location
               display: flex
               justify-content: flex-start
               label
                  display: block
                  margin-bottom: 15px
               input
                  margin-bottom: 35px
               .public__location__country
                  width: 185px
                  margin-right: 15px
                  position: relative
                  margin-bottom: 35px
                  .remove
                     position: absolute
                     top: 4px
                     right: 8px
                     cursor: pointer
                     display: block

                  input
                     width: 100%
                     cursor: pointer
                     margin-bottom: 0
                  ul
                     position: absolute
                     top: 23px
                     left: 0
                     width: calc(100% - 2px)
                     background: white
                     z-index: 11
                     font-size: 13px
                     font-weight: 300
                     line-height: 23px
                     color: $text2-color
                     border: 1px solid $usernfo-input
                     li
                        padding: 0 10px
                        cursor: pointer
                     li:hover
                        background: $userinfo-annonce
                        color: white

               .public__location__city
                  width: 325px
            .about--wrap
               position: relative
               .location__about
                  font-size: 14px
                  font-weight: 300
                  line-height: 15px
                  color: $text2-color
                  padding: 10px
                  box-sizing: border-box
                  border-radius: 2px
                  border: 1px solid $usernfo-input
                  margin-bottom: 35px
                  width: 525px
                  resize: none
                  outline: none
            .public__socials
               margin-bottom: 35px
               label
                  display: block
                  margin-bottom: 15px
               input
                  margin-bottom: 10px
               .social__network
                  width: 185px
                  margin-right: 15px
               .social__link
                  width: 325px
            .public__web
               margin-bottom: 30px
               label
                  display: block
                  margin-bottom: 15px
               .web-wrap
                  display: flex
                  justify-content: flex-start
                  align-items: center
                  img
                     margin-right: 10px
            .public__contact
               label
                  display: block
                  margin-bottom: 15px
               .phone-wrap
                  display: flex
                  justify-content: flex-start
                  align-items: center
                  margin-bottom: 10px
                  i
                     margin-right: 13px
               .add__field
                  margin-left: 27px
                  margin-bottom: 15px
               .email-wrap
                  display: flex
                  justify-content: flex-start
                  align-items: center
                  img
                     margin-right: 13px
      .userinfo__save-button
         padding-bottom: 30px
         background: white
         button
            border: none
            line-height: 27px
            background: $text-color
            color: #fefeff
            padding: 0 20px
            height: 27px
