.userinfo__balance-wrap
   padding-left: 10px
   padding-right: 10px
   display: flex
   justify-content: space-between
   margin-bottom: 10px
   margin-top: 15px
   button
      line-height: 27px
   .userinfo__balance
      p
         color: $text3-color
         font-size: 12px
         line-height: 13px
         font-weight: 300
         i
            color: #8cc440
            font-style: normal
            font-family: FiraSansMedium
            font-size: 19px
            font-weight: 500
            margin-left: 6px
            margin-right: 15px
         button
            background: #8cc43f
            color: white
            padding: 0 20px
            border: 1px solid transparent
   .userinfo__user
      button
         padding: 0 30px
