.triangle-translation
   top: 96px !important
.mytranslation-wrap
  display: flex
  flex-wrap: wrap

.mytranslation
   position: relative
   width: 230px
   display: inline-block
   vertical-align: top
   padding-right: 15px
   border-right: 1px solid $text3-color
   margin-right: 20px
   margin-bottom: 40px
   &:nth-child(3n)
     padding-right: 15px
     margin-right: 0
     border-right: none
   button
      line-height: 14px
      padding: 0 20px
   iframe
      border-radius: 4px
      border: none
   .about
      font-size: 14px
      line-height: 15px
      padding-right: 5px
      margin-bottom: 5px
   .tag
      display: inline-block
      color: white
      background: $userinfo-annonce
      font-size: 12px
      font-weight: 300
      line-height: 14px
      padding: 2px 8px
      margin-bottom: 10px
   .mytranslation__info
      display: flex
      justify-content: space-between
      margin-bottom: 10px
      .time__day
         font-size: 12px
         font-weight: 300
         line-height: 14px
      p
         display: flex
         align-items: center
         color: $text3-color
         font-size: 12px
         line-height: 13px
         i
            padding-left: 8px
            padding-right: 3px
            &:first-child
               padding-left: 0

         .watch
            padding-right: 7px
            margin-right: 7px
            border-right: 1px solid $text3-color
         i:last-of-type
            padding-left: 2px

   button
      padding: 0 15px
      line-height: 23px
.mytranslation-other
  padding-right: 15px
  margin-right: 15px
  position: relative
  video
    height: 170px
  .video__youtube
    width: 100% !important
    height: 170px !important
  .tag
    right: 25px
