.triangle-annonce
   top: 53px !important
.myannonce-wrap
   display: flex
   flex-wrap: wrap
.myannonce
   width: 181px
   position: relative
   margin-right: 30px
   margin-bottom: 30px
   button
      padding: 0 15px
      line-height: 23px
