.triangle-liked
   top: 223px !important
.userlikedinfo-wrap
   .mytranslation-search:nth-child(3n)
      padding-right: 0
      margin-right: 0
      border-right: none
.mytranslation__info__liked
   display: flex
   justify-content: flex-start
   align-items: center
